@{
    ViewBag.Title = "AARC";
}

@section Includes {
  <link href="~/Content/Home.css"
        rel="stylesheet"
        type="text/css" />
}

<ul class="nav nav-pills larc-theme">
  <li><a href="/home/index">Home</a></li>
  <li><a href="index.html">Register</a></li>
  <li><a href="index.html">Members: Sign In</a></li>
  <li><a href="index.html">Member Service</a></li>
  <li><a href="index.html">About</a></li>
</ul>

<div class= "jumbotron">
  <div id="main">
    <h1>Intelligent Investing Simplified</h1>
    <p class="lead">AARC provides the investor and investing advisor with simple to tools
    for investing.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-sm larc-theme">Learn more &raquo;</a></p>
  </div>
</div>
