
@{
    ViewBag.Title = "ForgotPasswordSent";
}

<div class="alert alert-success">
  <p>We've sent instructions for resetting your password to the email address
  you've</p>
</div>
@Html.ActionLink("Home", "Index");