
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="row">
  @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
      <div class = "form-group">
        <label for="email"></label>
      </div>
  }
    );
</div>
