
@{
    ViewBag.Title = "ResetPassword";
}

<div>
  @if (ViewBag.Errors != null)
  {
    <div>
      <ul>
        @foreach (string error in ViewBag.Errors)
        {
          <li>
            @error
          </li>
        }
      </ul>
    </div>
  }

  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()
    <p>Enter your new password</p>
    <div class="form-group">
      <label for="password" class="control-label">Password</label>
      @Html.Password("password", "", new { @class="form-control", placeholder = "Password"})
    </div>
  }
</div>
