<connectionStrings>
  <add name="AdventureWorks"
    connectionString="Data Source=codingtemplesql.database.windows.net;Initial Catalog=AdventureWorks;Integrated Security=False;User ID=SalesUser;Password=CodingTempleStudent!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
    providerName="System.Data.SqlClient" />
  <add name ="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=LARC_DB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
</connectionStrings>